<div class="top-title">
	<a class="left-logo" href="javascript:;">
		<img class="only-desk" src="i/desk/logo.png" alt="IMG" />
		<img class="only-mobi" src="i/mobi/logo.png" alt="IMG" />
	</a>
	<a class="right-ava only-mobi" href="javascript:;">
		<img src="i/mobi/ava.png" alt="IMG" />
	</a>
	<span class="name">iXBRL Document Reader</span>
	<div class="right-profile only-desk">
		<p class="para">Welcome, <a class="bold" href="javascript:;"><img src="i/desk/ava.png" alt="IMG" /> John Doe</a></p>
		<a class="logout" href="javascript:;"><i class="line"></i> Logout</a>
	</div>
	<!-- /right-profile -->
</div>
<!-- /top-title -->
<div class="bottom-tabs">
	<nav>
		<ul>
			<li data-ng-class="{active:titlePape==='DashBoardPage'}">
				<a class="same one" href="javascript:;" data-ng-click="goDashBoard()">Dashboard</a>
			</li>
			<li data-ng-class="{active:titlePape==='QueryStatusPage'}">
				<a class="same two" href="javascript:;" data-ng-click="goQueryStatusPage()">Query Status</a>
			</li>
			<li data-ng-class="{active:titlePape==='FAQsPage'}">
				<a class="same three" href="javascript:;" data-ng-click="goFAQsPage()">FAQs</a>
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</div>
<!-- /bottom-tabs -->