@charset "utf-8";
/* CSS Document */

/* -------------
 * Checkboxes
 * ------------- */
span.jqTransformCheckboxWrapper{
	display:block;
	float:left;
}
a.jqTransformCheckbox {
	background-position: -194px -102px;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	overflow: hidden;
	display:block;/*display: -moz-inline-block;*/
}

/* -------------
 * Checked - Used for both Radio and Checkbox
 * ------------- */
a.jqTransformChecked { background-position: -218px -102px;}

/* -------------
 * Selects
 * ------------- */
.form-container {
	display: block;
}
.selects-container {
  font-family: HPSimplifiedRegular, Arial;
  font-size: 16px;
  color: #2784e4;
  margin: 0;
}
.selects-container select {
  width: 100%;
}
.z-index1100 {
  position: relative;
  z-index: 1100;
}
.selects-container .jqTransformSelectWrapper {
  position: relative;
  height: 36px;
  background: none;
}
.selects-container .jqTransformSelectWrapper div {
  position: relative;
  z-index: 1099;
  border: 1px solid #2784e4;
  border-radius: 5px;
  height: 36px;
}
.selects-container .jqTransformSelectWrapper div:hover {
  background: #2784e4;
}
.selects-container .jqTransformSelectWrapper div:hover span {
  color: #fff;
}
.selects-container .jqTransformSelectWrapper a.jqTransformSelectOpen {
  background-position: -80px -124px;
  display: block;
  position: absolute;
  top: 9px;
  right: 10px;
  width: 16px;
  height: 16px;
}
.selects-container .jqTransformSelectWrapper div:hover a.jqTransformSelectOpen {
  background-position: -272px -124px;
}
.selects-container .jqTransformSelectWrapper div span {
  font-size: 16px;
  color: #2784e4;
  float: none;
  position: absolute;
  white-space: nowrap;
  height: 34px;
  line-height: 34px;
  text-indent: 12px;
  overflow: hidden;
  cursor: pointer;
}
.selects-container .jqTransformSelectWrapper ul {
  position: absolute;
  top: 33px;
  left: 0;
  list-style: none;
  background-color: #FFF;
  border: 1px solid #2784e4;
  border-top: 0;
  display: none;
  margin: 0;
  padding: 0 0 6px 0;
  height: auto !important;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  overflow: auto;
  overflow-y: auto;
  z-index: 1000;
}
.selects-container .jqTransformSelectWrapper ul a {
  display: block;
  text-indent: 12px;
  text-decoration: none;
  line-height: 32px;
  color: #333;
  background-color: #FFF;
  font-size: 16px;
}
.selects-container .jqTransformSelectWrapper ul li:first-child a {
	padding-top: 12px;
	line-height: 24px;
}
.selects-container .jqTransformSelectWrapper ul a.selected {
  color: #2784e4;
  background: #fff;
}
.selects-container .jqTransformSelectWrapper ul a:hover,
.selects-container .jqTransformSelectWrapper ul a.selected:hover {
  color: #2784e4;
  text-decoration: none;
}
.selects-container .whiteSelectBg {
  background: url(../i/forms/select-left.png) no-repeat 0  -34px;
}
.selects-container .whiteSelectBg a.jqTransformSelectOpen {
  background: url(../i/forms/select-right.png) no-repeat 0 -34px;
}
/* -------------
 * Hidden - used to hide the original form elements
 * ------------- */
.jqTransformHidden {
  display: none;
}
