         #activeStories,th,#completedStories,#DeveloperTable{
             border-bottom-color: white!important; 
             border-top-color:white!important; 
         }  
         
        .darkClass {
             background-color: grey;
             filter:alpha(opacity=50);
             /* IE */
             opacity: 0.5;
             /* Safari, Opera */
             -moz-opacity:0.50;
             /* FireFox */
             z-index: 20;
             height: 100%;
             width: 100%;
             background-repeat:no-repeat;
             background-position:center;
             position:fixed;
             top: 0px;
             left: 0px;
         }
         
        .changeBorder{
            top: -300px!important;
         }